#intro {
  height: 100vh; }
  #intro h1 {
    font-size: 3.6rem;
    margin: 4rem 0;
    padding-top: 3rem; }
  #intro .lead {
    font-size: 1.8rem; }
  #intro #intro-social {
    width: 100%;
    padding-top: 50px; }
    #intro #intro-social li {
      padding: 15px;
      list-style: none;
      font-size: 1.3rem; }
      #intro #intro-social li a {
        color: #a0a0a0;
        text-decoration: none; }

#about-me {
  z-index: 0;
  margin-bottom: 5rem; }
  #about-me #about-me-h1 {
    padding-top: 7rem; }
  #about-me #lead-p {
    font-size: 1.5rem; }
  #about-me .row #about-col-1 {
    padding: 2rem; }
  #about-me .row #about-col-2 #sphere {
    margin-top: 40px;
    width: 450px;
    height: 450px;
    z-index: -100; }

#progress {
  height: 100vh;
  padding-top: 5rem; }
  #progress h1 {
    padding-top: 3rem;
    padding-bottom: 3rem; }

#favourites {
  z-index: -10; }

/* #footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
} */
