#intro {
  height: 100vh;

  #intro-social {
    li {
      padding: 15px;
      list-style: none;

      a {
        color: darken(lightgrey, 20);
        text-decoration: none;
      }
    }
  }
}

#about-me {
  margin-bottom: 5rem;

  #about-me-h1 {
    padding-top: 7rem;
  }

  .row {
    //height: 100vh;

    #about-col-1 {
      padding: 2rem;
    }

    #about-col-2 {
      #sphere {
        margin-top: 40px;
        width: 450px;
        height: 450px;
      }
    }
  }
}

#progress {
  height: 100vh;
  padding-top: 5rem;

  h1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
